asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==4.2.11
django-allauth==0.63.6
django-bootstrap-v5==1.0.11
idna==3.7
pillow==10.4.0
python-openid==2.2.5
python3-openid==3.2.0
requests==2.32.3
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
qrcode==7.4.2
