{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ account.username }}'s Account</title>
</head>
<body>
    <a href="{% url 'home' %}">
        <button>Back to Home</button>
    </a>

    <h1>{{ account.username }}'s Account</h1>


    {% if current_user.admin_status %}
        <p> This account has been reported: {{ account.reported_count }}</p>
        <a href="{% url 'remove_accout' account.id %}">
            <button>Remove Account</button>
        </a>
    {% endif %}


    <h2>Posts:</h2>
    <ul>
        {% for post in posts %}
            <li>
                <strong>Title:</strong> {{ post.post_title }}<br>
                <strong>Community:</strong> {{ post.post_community }}<br>
                <strong>Body:</strong> {{ post.post_body }}<br>
                <!-- Display other post information as needed -->
            </li>
        {% empty %}
            <li>No posts found.</li>
        {% endfor %}
    </ul>

    <h3>Leave a review:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <h3>Reviews:</h3>
    {% for rev in reviews %}
        <p>
            On {{ rev.created_on.date }} <b>{{ rev.author }}</b> wrote:
        </p>
        <p>
            {{ rev.body | linebreaks }}
        </p>
    {% endfor %}


    

    {% if not user.is_superuser %}
        <a href="{% url 'report_user' account.pk %}">
            <button>Report User</button>
        </a>
        <p>This user has been reported {{ account.reported_count }} times.</p>
    {% else %}
        <p>This user is a superuser and cannot be reported.</p>
    {% endif %}
    
</body>
</html>
{% endblock %}