{% block page_title %}
    <h2>{{ post.post_title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} | Tags:
        {% for tag in post.tags.all %}
            <a href=""{% url 'post_tag' tag.name %}>
                {{ tag.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ post.post_body | linebreaks }}</p>

    <h3>Leave a comment:</h3><form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}
{% endblock page_content %}