{% extends "base.html" %}   
{% block content %}  
<!DOCTYPE html>
<html>
<head>
    <title>Search Accounts</title>
</head>
<body>
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-dark">Back to Home</button>
    </a>

    <h1>Search Accounts</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search accounts..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    
        {% for user in users %}
        <div align="center" style="background-color: RoyalBlue; border-color: white; border-width: thin; border-style: double;">
            <h4>{{ user.username }}</h4>
            <p>{{ user.account.bio }}</p>
        </div>
        
        {% empty %}
        <h3>No users found</h3>
        {% endfor %}
    
</body>
</html>
{% endblock %}