{% extends "base.html" %}   
{% block content %}  
<!DOCTYPE html>
<html>
<head>
    <title>Search Accounts</title>
</head>
<body>
    <a href="{% url 'home' %}">
        <button>Back to Home</button>
    </a>

    <h1>Search Accounts</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search accounts..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for user in users %}
        <li>{{ user.username }}</li>
        {% empty %}
        <li>No users found</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}