{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}


<div align="center">
<h2>Welcome to your feed! Here are some posts we thought you might like.</h2>
</div>



<style>
  .post-container {
      background-color: RoyalBlue;
      padding: 10px;
      margin: 10px 0;
      color: white;
      text-align: center;
      overflow-y: scroll;
      
  }

  /* removes the hyperlink styling (i.e., the underline and blue text) */
  .post-container h3 a {
      color: white;
      text-decoration: none;
  }

  .post-container a {
      color: white;
      text-decoration: none;
  }

</style>

{% if not posts %}
<h4 align="center"> Sorry, there isn't anything here right now. Check back soon!</h4>
{% endif %}
<div align="center" style="overflow-y: scroll;">
{% for post in posts %}
  <div class="post-container">
    <h3><a href="{% url 'post_detail' post.pk 0 %}">{{ post.post_title }}</a></h3>
    <h4>

        {{ post.created_on.date }} | 
        {% if post.accountname %}
            <a href="{% url 'user_account' post.accountname.pk %}" style="text-decoration: none;color: white;">
                {{ post.accountname.username }}
            </a>
        {% else %}
            <!-- Link to superuser account page -->
            <a href="{% url 'user_account' '0' %}">Superuser</a>
        {% endif %}

        {% if post.tags.all %}

        | Tags:

        {% endif %}

        {% for tag in post.tags.all %}
            <a href="{% url 'post_tag' tag.name %}">
                {{ tag.name }}
            </a>
        {% endfor %}
          </h4>
    <p>{{ post.post_body | slice:":400" }}...</p>


    {% if admin %}
      <p>This post has been reported: {{post.reported_count}} times</p>
      <a href="{% url 'remove_post' post.pk %}">
        <button>Remove Post</button>
      </a>
    {% endif %}
  </div>


{% endfor %}
</div>
{% endblock %}