{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<body>
    <h1>Current Events</h1>

    <a href="{% url 'home' %}">
    <button>Home</button>
    </a>
    

    <h3>Create an Event:</h3>
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    

    <h3>Current Events:</h3>
    {% for event in events %}
        <p>
            On {{ event.created_on.date }} <b>{{ event.author }}</b> posted
        </p>
        <a href="{% url 'event-detail' event.pk %}">
        <p>
            {{ event.post_title }}
        </p>
        </a>
        
        <p>
            {{ event.post_body | linebreaks }}
        </p>
    {% endfor %}



    

    
    
</body>
</html>
{% endblock %}