{% extends "base.html" %}

{% block content %}

    <style>

        .discount-container {
            background-color: RoyalBlue;
            padding: 10px;
            margin: 10px 0;
            color: white;
            text-align: center;
        }
    
    </style>

    <head>
        <title>Discount Offers</title>
    </head>

    <h1>Current Special Offers</h1>

    <a href="{% url 'home' %}">
    <button type="button" class="btn btn-dark">Back to Home</button>
    </a>
    {% if is_business %}

    <h3>Create an offer:</h3>
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endif %}

    <h3>Current Offers:</h3>
    {% for offer in offers %}
        <div class="discount-container">
            <p>
                On {{ offer.created_on.date }} <b>{{ offer.author }}</b>
            </p>
            <p>
                {{ offer.body | linebreaks }}
            </p>
        </div>
    {% endfor %}

{% endblock %}