{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  
<style>

      .discount-container {
          background-color: RoyalBlue;
          padding: 10px;
          margin: 10px 0;
          color: white;
          text-align: center;
          
      }
    
</style>
  
<head>
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-dark">Back to Home</button>
        </a>
    <title>Discount Offers</title>
</head>
<body>
    <h1>Current Special Offers</h1>

    <div align="center">
        <h4> This is where businesses and organizations post special offers and discounts for Sonar users. You must have a registered business associated with your account to post here, but anyone can use the offers posted. New offers are always on the way, so make sure to check back often!</h4>
    </div>

    

    {% if is_business %}

    <h3>Create an offer:</h3>
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endif %}

    <h3>Current Offers:</h3>

    {% if offers %}
    <div align="center" style="overflow-y: scroll;">
    {% for offer in offers %}
        <div class="discount-container">
            <p>
                On {{ offer.created_on.date }} <b>{{ offer.author }}</b>
            </p>
            <p>
                {{ offer.body | linebreaks }}
            </p>
        </div>
    {% endfor %}
    </div>

    {% else %}

    <h4>There aren't any offers yet. Don't worry, good things are worth the wait.</h4>

    {% endif %}



    

    
    
</body>
</html>

{% endblock %}